{{ form_start(form) }}

<div class="float-end">
    <div class="input-group">
        <div class="form-outline">
            {{ form_widget(form.q) }}
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>

{{ form_end(form) }}